/*Olha No HTML as classes criadas (class="") para se basear aonde cada classe está alterando CSS*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

/* declarando variaveis no css para armazenar valore em que iram se repetir varias vezes no código */
:root{
    /*eSCOLHER PALETAS DE CORES NO COLOR HUNT*/
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-tercearia: #A27B5C;
    --cor-houver: #3F4E4F;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: "montserrat", sans-serif;
} 

*{
    margin: 0;
    padding: 0;

}

body{
    /* height: 100vh; */
    box-sizing: content-box; /* Garantir que nada ultrapassara a borda da pagina*/
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* Estou utilizando % ao inves de px porque pixel fica padrão e a porcentagem se adapta ao tamanaho da tela (padding values order documentação w3school)*/
.cabecalho{ 
    padding: 2% 0% 0% 15%;

}

.cabecalho__menu{
    display: flex;
    gap: 80px;  /*Distancia entre a opção Home Sobre Mim*/
}

.cabecalho__menu__link{
    font-family: var(--cor-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-tercearia);
    text-decoration: none;
    

}

.titulo-destaque{
    color: var(--cor-tercearia);

}

.apresentacao{   /*Organização de tudo que está dentro main*/
    padding: 5% 15%;
    display: flex;
    align-items: center; /*Descer com os conteudos para o centro*/
    justify-content: space-between;

}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px; /*distancia entre o titulo, texto e botoes*/
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: var(--fonte-primaria)
}

.apresentacao__conteudo__texto{
    font-size: 24%;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao_links_subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
}
.apresentacao__links__link{  /*Configuração voltada para os botoes*/
    /* background-color: #22D4FD; cor de fundo */
    display: flex;
    border: 2px solid var(--cor-tercearia);
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover{
    background: var(--cor-houver);
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
    padding: 24px;
    text-align: center; /*Centralizar o texto*/  /*Para comentar crt k c */
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;

}

